@import url("https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Expletus+Sans:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Turret+Road:wght@200;300;400;500;700;800&family=Vidaloka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .video-react-poster {
    background-size: cover !important;
  }

  .video-react .video-react-big-play-button {
    font-size: 3em !important;
    height: 2em !important;
    background-color: rgba(255, 0, 0, 0.6) !important;
    border: 0.06666em solid #f00 !important;
  }

  .video-react .video-react-control:before,
  .video-react .video-react-big-play-button:before {
    position: relative !important;
  }

  .hex-btn,
  .explore-btn,
  .hex-btn-outline {
    display: flex;
    background: transparent;
  }
  .hex-btn-3 {
    display: flex;
    background: transparent;
  }

  .hex-btn:before,
  .hex-btn-3:before,
  .hex-btn-3:after,
  .hex-btn:after,
  .hex-btn-outline:before,
  .hex-btn-outline:after {
    width: 100%;
    left: 0px;
    right: 0px;
    height: 47%;
  }

  .hex-btn-outline:before,
  .hex-btn-outline:after {
    opacity: 0;
    transition: all;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
  }
  .hex-btn-outline:hover:before,
  .hex-btn-outline:hover:after {
    opacity: 40;
    background-color: rgba(241, 191, 63, 0.15);
    z-index: 0;
  }

  .hex-btn-3:before,
  .hex-btn:before {
    position: absolute;
    content: "";
    top: 0;
    border-top: #f1bf3f 1px solid !important;
    border-left: #f1bf3f 1px solid !important;
    border-right: #f1bf3f 1px solid !important;
    border-bottom: none;
    transform: perspective(25px) rotateX(15deg);
  }

  .hex-btn-outline:before {
    position: absolute;
    content: "";
    top: 0;
    border-top: #f1bf3f 1px solid !important;
    border-left: #f1bf3f 1px solid !important;
    border-right: #f1bf3f 1px solid !important;
    border-bottom: none;
    transform: perspective(25px) rotateX(15deg);
  }

  .hex-btn-3:after,
  .hex-btn:after,
  .hex-btn-outline:after {
    position: absolute;
    top: 50.75%;
    content: "";
    border-bottom: #f1bf3f 1px solid !important;
    border-left: #f1bf3f 1px solid !important;
    border-right: #f1bf3f 1px solid !important;
    border-top: none;
    transform: perspective(25px) rotateX(-15deg);
  }

  .custom-border {
    transform: perspective(500px) rotateY(-2deg) translateX(0px);
    z-index: 0;
  }

  .custom-shadow {
    box-shadow: inset 0 4px 4px 0 rgb(0 0 0 / 0.25);
  }

  .border-right {
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      #dcb558
    );
    border-image-slice: 1;
    border-radius: 0.375rem !important;
  }
  .border-top {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to top, rgba(0, 0, 0, 0), #dcb558);
    border-image-slice: 1;
    border-radius: 0.375rem !important;
  }

  .border-top-white {
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-image: linear-gradient(to top, rgba(0, 0, 0, 0), #ffff);
    border-image-slice: 1;
  }

  .border-top-white:hover {
    border-color: #283646;
  }

  .border-round {
    border-width: 1px;
    border-style: solid;
    border-color: #dcb558;
    border-image-slice: 1;
    border-radius: 0.375rem !important;
  }
}

.selectedDate {
  border-width: 1px;
  border-radius: 0.375rem;
  border-radius: 0.375rem;
  background-image: linear-gradient(to right, #dfbf68, #bfa04b, #dfbf68);
  color: #fff;
}
.scrollable-container {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #f1be3f transparent;
}

.scrollable-container::-webkit-scrollbar {
  width: 6px; /* Width of the custom scrollbar */
}

.scrollable-container::-webkit-scrollbar-track {
  background-color: white; /* Color of the scrollbar track */
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #f1be3f; /* Color of the scrollbar thumb */
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background-color: #e0a824; /* Color of the scrollbar thumb on hover */
}

.vector_background {
  background-image: url(./assets/images/global/Vector-bg.png);
  /* Adjust the opacity here */
  background-color: rgba(0, 24, 46, 0.7);
  background-blend-mode: multiply;
  background-repeat: repeat;
  background-size: contain;
}

.footer_background {
  background-image: url(./assets/images/global/footer.png);
  /* Adjust the opacity here */
  background-color: rgba(0, 24, 46, 0.7);

  background-blend-mode: multiply;
  background-repeat: repeat;
}

.footer_background_home_invest {
  background-image: url(./assets/images/global/footer.png);
  /* Adjust the opacity here */

  background-color: #000f1d;
  background-blend-mode: color;
  background-repeat: repeat;
}
.footer_background_home {
  background-image: url(./assets/images/global/footer.png);
  /* Adjust the opacity here */
  background-color: #000f1d;
  background-blend-mode: color;
  background-repeat: repeat;
}
.footer_background_home2 {
  background-image: url(./assets/images/global/footer.png);

  background-blend-mode: color;
  background-repeat: repeat;
  opacity: 0.4;
}

.dropdown_background {
  background-image: url(./assets/images/global/menubg.png);
  /* Adjust the opacity here */
  background-color: rgba(0, 24, 46, 0.7);
  background-blend-mode: multiply;
  background-repeat: repeat-x;
}

.white_background {
  background-image: url(./assets/images/global/arrange.png);
  background-color: rgba(255, 244, 234, 1);
  background-blend-mode: multiply;
  background-repeat: repeat-x;
}

.border-bottom {
  border-top: 0 !important;
  border-right: 0 !important;
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    #ffffff
  );
  border-image-slice: 1;
  z-index: 1;
}

.filter-box_shadow {
  border-width: 0px 5px;
  border-style: solid;
  border-color: transparent;
  box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.filter-box_shadow::before,
.filter-box_shadow::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: #f1be3f;
  border-radius: 100px;

  opacity: 0;
  animation: pulse4 5s infinite;
}

.filter-box_shadow::before {
  left: -5px;
  animation-delay: 0.5s;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.filter-box_shadow::after {
  right: -5px;
  animation-delay: 0.5s;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pulse4 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 40%;
  background-image: linear-gradient(
    to right,
    rgba(0, 15, 29, 1),
    rgba(0, 15, 29, 0.85),
    rgba(0, 15, 29, 0.51),
    rgba(1, 21, 39, 0)
  );
}

.overlay::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    to right,
    rgba(0, 15, 29, 1),
    rgba(0, 15, 29, 0.85),
    rgba(0, 15, 29, 0.51),
    rgba(1, 21, 39, 0)
  );
}
.overlay::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    to right,
    rgba(0, 15, 29, 1),
    rgba(0, 15, 29, 0.85),
    rgba(0, 15, 29, 0.51),
    rgba(1, 21, 39, 0)
  );
}

.hex-btn-2 {
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  clip-path: polygon(0% 0, 90% 0, 100% 50%, 90% 100%, 0% 100%, 0 50%);
  background-color: #f1be3f;
  background-image: radial-gradient(
    200% 70% at center 20%,
    rgba(0, 24, 46, 1) -30%,
    rgba(0, 24, 46, 1) 49%,
    rgba(0, 24, 46, 1) 50%,
    rgba(0, 24, 46, 1) 150%
  );
  background-repeat: no-repeat;
  transition: background-position-y ease-in-out 250ms;
}

.hex-btn-2:before {
  position: absolute;
  content: "";
  top: 0;
  border-top: #f1bf3f 1px solid !important;
  border-left: #f1bf3f 1px solid !important;
  border-right: #f1bf3f 1px solid !important;
  border-bottom: none;
  transform: perspective(25px) rotateX(15deg);
}

.hex-btn-2:after {
  position: absolute;
  top: 50.75%;
  content: "";
  border-bottom: #f1bf3f 1px solid !important;
  border-left: #f1bf3f 1px solid !important;
  border-right: #f1bf3f 1px solid !important;
  border-top: none;
  transform: perspective(25px) rotateX(-15deg);
}

.overlay-property-color {
  background: linear-gradient(
    270deg,
    #000f1d,
    rgba(0, 15, 29, 0.8) 50%,
    rgba(0, 15, 29, 0.53) 75%,
    rgba(1, 21, 39, 0) 100%
  );
}

.overlay-property-color-left {
  background: linear-gradient(
    90deg,
    #000f1d 41.15%,
    rgba(0, 15, 29, 0.88) 58.85%,
    rgba(0, 15, 29, 0.79) 69.27%,
    rgba(0, 15, 29, 0.53) 80.73%,
    rgba(1, 21, 39, 0) 100%
  );

  transform: rotate(-180deg);
}
.overlay-property-color-left-2 {
  background: linear-gradient(
    270deg,
    #000f1d 25%,
    rgba(0, 15, 29, 0.8) 50%,
    rgba(0, 15, 29, 0.53) 75%,
    rgba(1, 21, 39, 0) 100%
  );

  transform: rotate(-180deg);
}

.overlay-property-color-2 {
  position: absolute;
  width: 375px;
  height: 400px;
  left: 0;
  bottom: 0;

  background: linear-gradient(
    270deg,
    #000f1d 0%,
    rgba(0, 15, 29, 0.85) 32.09%,
    rgba(0, 15, 29, 0.51) 58.91%,
    rgba(1, 21, 39, 0) 78%
  );
}

.overlay-property-color-3 {
  background: linear-gradient(
    360deg,
    #000f1d 41.15%,
    rgba(0, 15, 29, 0.8) 72.4%,
    rgba(0, 15, 29, 0.53) 90.1%,
    rgba(1, 21, 39, 0) 100%
  );
}

.illustration_background {
  background: linear-gradient(
    90deg,
    #000f1d 0%,
    rgba(0, 15, 29, 0.85) 41.15%,
    rgba(0, 15, 29, 0.51) 75.52%,
    rgba(1, 21, 39, 0) 100%
  );
  position: absolute;
  width: 375px;
  height: 473px;
  right: 130px;
}

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.about-overlay {
  background: linear-gradient(
    90deg,
    rgba(14, 14, 26, 1) 0%,
    rgba(16, 32, 60, 1) 16.15%,
    rgba(18, 56, 103, 1) 29.69%,
    rgba(23, 106, 194, 1) 46.88%,
    rgba(18, 60, 109, 1) 59.38%,
    rgba(16, 32, 59, 1) 83.33%,
    rgba(14, 14, 26, 1) 100%
  );
  position: absolute;
  width: full;
  height: full;
  right: 0;
  left: 0;
  opacity: 10%;
}
/* PhoneInputInput {
  @apply w-full px-5 py-3 rounded-md mb-3 placeholder:font-montserrat text-xs custom-shadow bg-white bg-opacity-10 placeholder:text-white;
} */
.PhoneInputInput {
  background: transparent;
  outline: none;
  color: #dfbf68;
}

.my-phone-input:focus {
  outline: none;
  border-color: blue;
}

.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #a4a73a, #bfa04b, #a7893a);
}

.rgba-white-10 {
  background: rgba(255 255 255 0.1);
}

.circle-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.circle {
  position: absolute;

  animation: circle 15s linear infinite;
}
.circle2 {
  animation-delay: 5s;
}
.circle3 {
  animation-delay: 10s;
}
@media (min-width: 768px) {
  @keyframes circle {
    0% {
      transform: rotate(0deg) translate(-180px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translate(-180px) rotate(-360deg);
    }
  }
}
@media (max-width: 767px) {
  @keyframes circle {
    0% {
      transform: rotate(0deg) translate(-150px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translate(-150px) rotate(-360deg);
    }
  }
}

.btn-explore {
  height: 38px;
  width: 165px;
  /* padding: 10px 56px 10px 30px; */
  background: transparent;
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0 !important;
}

.btn-explore:before {
  content: "";
  position: absolute;
  height: 50%;
  width: 100%;
  top: 0;
  left: 0;
  background: #042c51;
  /* border: 2px solid #bfa04b; */
  /* clip-path: polygon(0% 0%, 85% 0, 100% 50%, 85% 100%, 0% 100%); */
  border-top: #f1bf3f 1px solid !important;
  border-left: #f1bf3f 1px solid !important;
  border-right: #f1bf3f 1px solid !important;
  border-bottom: none;
  transform: perspective(25px) rotateX(15deg);
  z-index: 10;
}

.btn-explore:after {
  content: "";
  position: absolute;
  height: 49%;
  width: 100%;
  top: 50%;
  left: 0;
  background: #042c51;
  /* border: 2px solid #bfa04b; */
  /* clip-path: polygon(0% 0%, 85% 0, 100% 50%, 85% 100%, 0% 100%); */
  border-bottom: #f1bf3f 1px solid !important;
  border-left: #f1bf3f 1px solid !important;
  border-right: #f1bf3f 1px solid !important;
  border-top: none;
  transform: perspective(25px) rotateX(-15deg);
  z-index: 10;
}
/* Button Border Style */

.hero-btn {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-color: #0e0e1a;
  opacity: 0.5;
}

.explore-btn {
  position: relative;
  display: block;
  background: transparent;
  height: 38px;
  width: 192px;
  /* padding: 10px 56px 10px 30px; */
  background: #042c51;
  line-height: 80px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin: 40px auto;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
.explore-btn:before,
.explore-btn:after {
  position: absolute;
  content: "";
  width: 192px;
  left: 0px;
  height: 15px;
  z-index: -1;
}

.explore-btn:before {
  transform: perspective(10px) rotateX(3deg);
  border-left: 0 !important;
}
.explore-btn:after {
  top: 40px;
  transform: perspective(10px) rotateX(-3deg);
  border-left: 0 !important;
}

/* explore-btn Border Style */

.explore-btn.border:before,
.explore-btn.border:after {
  border: 4px solid #e04e5e;
}
.explore-btn.border:before {
  border-bottom: none; /* to prevent the border-line showing up in the middle of the shape */
}
.explore-btn.border:after {
  border-top: none; /* to prevent the border-line showing up in the middle of the shape */
}

/* explore-btn hover styles */

.explore-btn.border:hover:before,
.explore-btn.border:hover:after {
  background: #e04e5e;
}
.explore-btn.border:hover {
  color: #fff;
}

.icon-box {
  width: 60px;
  height: 60px;
  transform: rotate(45deg);
  border: 2px solid white;
  padding: 0.75rem;
  z-index: 10;
}

.icon-svg {
  width: 12px;
  height: 11px;
  /* */

  transition: all 0.5s;
}
.icon-svg svg {
  transform: rotate(-45deg);
  fill: white;
  transition: all 0.35s;
}
.icon-svg:hover {
  border: 2px solid #f1bf3f;
}
.btn-signUp {
  display: flex;
  background: transparent;
}

.btn-signUp::after,
.btn-signUp::before {
  width: 100%;
  left: 0;
  right: 0;
}

.btn-signUp:before {
  position: absolute;
  height: 50%;
  content: "";
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  border-top: #f1bf3f 1px solid !important;
  border-left: #f1bf3f 1px solid !important;
  border-right: #f1bf3f 1px solid !important;
  border-bottom: none;
  transform: perspective(25px) rotateX(15deg);
}

.btn-signUp:after {
  position: absolute;
  height: 50%;
  content: "";
  top: 50.75%;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  border-bottom: #f1bf3f 1px solid !important;
  border-left: #f1bf3f 1px solid !important;
  border-right: #f1bf3f 1px solid !important;
  border-top: none;
  transform: perspective(25px) rotateX(-15deg);
}

.filter-btn {
  display: flex;
  background: transparent;
  transition: background-color 0.5s ease-in-out;
}

.filter-btn:before,
.filter-btn:after {
  width: 100%;
  left: 0px;
  right: 0px;
}

.filter-btn:before {
  position: absolute;
  height: 50%;
  content: "";
  top: 0;
  left: 0;
  background: transparent;
  border-top: #f1bf3f 1px solid !important;
  border-left: #f1bf3f 1px solid !important;
  border-right: #f1bf3f 1px solid !important;
  border-bottom: none;
  transform: perspective(25px) rotateX(15deg);
  transition: background-color 0.5s ease-in-out;
}

.filter-btn:after {
  position: absolute;
  height: 50%;
  top: 55%;
  left: 0;
  content: "";
  background: transparent;
  border-bottom: #f1bf3f 1px solid !important;
  border-left: #f1bf3f 1px solid !important;
  border-right: #f1bf3f 1px solid !important;
  border-top: none;
  transform: perspective(25px) rotateX(-15deg);
  transition: background-color 0.5s ease-in-out;
}

.filter-btn:hover:before,
.filter-btn:hover:after {
  background: rgba(255, 255, 255, 0.1);
}
.btn-search {
  width: 100%;
  clip-path: polygon(87% -5%, 100% 50%, 87% 105%, 50% 300%, 0 50%, 50% -190%);
  /* clip-path: polygon(93% 0, 100% 50%, 93% 100%, 7% 100%, 0 50%, 7% 0); */
  padding: 0.25rem 1rem;
  background: linear-gradient(90deg, #d6bb75 0%, #bea04e 100.2%);
  transition: background-color 0.5s ease-in-out;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.btn-search:hover {
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.btn-search:hover {
  background: linear-gradient(90deg, #bea04e 0%, #bea04e 100.2%);
}

/* @keyframes move-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(-2px);
  }
} */

.text-shadow {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.btn-explore-text {
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tra;
  z-index: 50;
}

.btn-payent {
  position: absolute;
  top: -75px;
  background: linear-gradient(90deg, #d6bb75 0%, #bea04e 100.2%);
  border-width: 0px 10px;
  border-style: solid;
  border-color: #1d2e52;
  border-radius: 50px 0px;
}
.zoom-container {
  position: relative;
  width: 500px; /* Adjust the width to match your desired size */
  height: 300px; /* Adjust the height to match your desired size */
  overflow: hidden;
}
.nav {
  position: relative;
}

.nav .animation {
  position: absolute;
  height: 5px;
  /* height: 5px; */
  /* top: 0; */
  bottom: -1rem;
  z-index: 1;
  background: #042c51;
  border-radius: 8px;
  border-left: 3px solid yellow;
  border-right: 3px solid yellow;
  transition: all 0.1s ease 0s;
  margin-left: 1rem;
}
.nav .animation2 {
  position: absolute;
  height: 5px;
  /* height: 5px; */
  /* top: 0; */
  bottom: -1rem;
  z-index: 1;
  background: #042c51;
  border-radius: 8px;
  border-left: 3px solid yellow;
  border-right: 3px solid yellow;
  transition: all 0.1s ease 0s;
  margin-left: 1rem;
}

.nav .line {
  position: absolute;
  height: 5px;
  /* background: white; */
  z-index: 0;
  width: 1000px;
  bottom: -1rem;
  left: -300px;
}

.nav .start-home,
h1:nth-child(1):hover ~ .animation2 {
  width: 75px;
  left: 0;
}

.nav h1:nth-child(2):hover ~ .animation2 {
  width: 50px;
  left: 104px;
}

.nav h1:nth-child(3):hover ~ .animation2 {
  width: 125px;
  left: 185px;
}

.bg-gradient-custom {
  background: linear-gradient(
    90deg,
    rgba(10, 34, 58, 0.6) 0%,
    rgba(33, 66, 101, 0.6) 49.27%,
    rgba(10, 34, 58, 0.6) 100%
  );
}

.border-top-bottom {
  border-top: 5px solid rgba(219, 163, 24, 0.4);
  border-bottom: 5px solid rgba(219, 163, 24, 0.4);
  border-right: none;
  border-left: none;
}

.single-key-background {
  background: linear-gradient(
    91.1deg,
    rgba(29, 64, 96, 0.5) 22.89%,
    rgba(39, 86, 132, 0.175) 55.07%,
    rgba(31, 64, 98, 0.015) 79.78%,
    rgba(33, 66, 101, 0) 101.23%
  );
}

.circle-border {
  width: 85px;
  height: 85px;
  border: 0px solid;
  border-radius: 100%;
  background-image: linear-gradient(
    to right,
    #0f0a3a 0%,
    #214265 49.27%,
    #0a223a 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .circle-border {
    width: 37px;
    height: 37px;
  }
}

@media screen and (max-width: 600px) {
  .circle-white {
    width: 30px;
    height: 30px;
  }
}

.circle-white {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-white-0 {
  background-color: rgba(255, 255, 255, 0.1);
}

article.activeSlide {
  opacity: 1 !important ;
  transform: translateX(0);
  transition: all 0.8s ease;
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

.d-flex {
  display: flex;

  overflow: visible;
  animation: animateContainer 30s linear forwards infinite;
  animation-play-state: paused;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes animateContainer {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.l-flex {
  display: flex;

  overflow: visible;
  animation: leftAni 30s linear forwards infinite;
  animation-play-state: paused;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes leftAni {
  100% {
    transform: translateX(0%);
  }
  0% {
    transform: translateX(-100%);
  }
}

.link {
  transform: scale(1);
  transition: all 0.5s ease;
}

.link.hovered {
  transform: scale(1.05);
}

/* .link:not(.hovered) ~ .link {
  transform: scale(0.9);
  transition: transform 0.5s ease;
} */

.outLineBtn:hover {
  background: linear-gradient(
    90deg,
    rgba(10, 34, 58, 0.5) 0%,
    rgba(33, 66, 101, 0.5) 49.27%,
    rgba(10, 34, 58, 0.5) 100%
  );
  border-radius: 5px;
}
.button-bg {
  background: linear-gradient(
    90deg,
    rgba(10, 34, 58, 0.5) 0%,
    rgba(33, 66, 101, 0.5) 49.27%,
    rgba(10, 34, 58, 0.5) 100%
  );
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button-bg:hover {
  background: none;
}

.single_background {
  background-image: url(./assets/images/global/single-bg.png);
  /* background-color: rgba(0, 24, 46, 0.7); */
  background-blend-mode: multiply;
  background-repeat: repeat-x;
}

.filter-background {
  border-radius: 5px;
  border: 0.5px solid #fff;
  background: linear-gradient(90deg, #283646 0%, #3a587b 100%, #3a587b 100%);
}
.filter-modal-bg {
  border-radius: 10px;
  border: 2px solid #c4c4c4;
  background: linear-gradient(90deg, #0a223a 0%, #214265 49.27%, #0a223a 100%);
}
.btnItem {
  /* border-radius: 5px; */
  background: var(
    --linear,
    linear-gradient(90deg, #a7893a 0%, #bfa04b 49.2%, #a7893a 100%)
  );
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-ourLine {
  border-radius: 5px;
  border: 1px solid #ababab;
  background: rgba(171, 171, 171, 0.05);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2) inset;
}

.downArrow1::before {
  content: "";
  border-style: solid;
  border-color: #dfbf68;
  border-width: 0 2.5px 2.5px 0;
  display: inline-block;
  padding: 7px;
  margin-bottom: -30px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.downArrow2::before {
  content: "";
  border-style: solid;
  border-color: #dfbf68;
  border-width: 0 2.5px 2.5px 0;
  display: inline-block;
  padding: 9px;
  margin-bottom: -20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.downArrow3::before {
  content: "";
  border-style: solid;
  border-color: #dfbf68;
  border-width: 0 2.5px 2.5px 0;
  display: inline-block;
  padding: 11px;
  margin-bottom: -10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Pulse1 */
.pulse1 {
  animation: pulse 3s cubic-bezier(0.1, 0, 0.1, 1) infinite;
}
@keyframes pulse {
  20%,
  100% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
}

/* Pulse2 */
.pulse2 {
  animation: pulse 3s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
@keyframes pulse {
  10%,
  90% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
/* Pulse3 */
.pulse3 {
  animation: pulse 3s cubic-bezier(0.9, 0, 0.9, 1) infinite;
}
@keyframes pulse {
  0%,
  80% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
.pulse5 {
  animation: pulse 3s cubic-bezier(0.9, 0, 0.9, 1) infinite;
}
@keyframes pulse {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.zoom {
  transition: transform 0.3s ease;
}

/* Apply the zoom effect on hover */
.zoom:hover {
  transform: scale(1.1); /* Increase the scale to make the image bigger */
}
.filterSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;

  margin-right: 0.5rem;
  padding: 1rem;
}

.shadow-mine {
  box-shadow: rgba(0, 15, 29, 0.8) 0px 18px 0px 0px;
}
